@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*,body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main{
    /* padding:1rem; */
    width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}



.sec1{
    padding: .8rem;
    background-color: #3e3f3e;
    width: 25%;
    height: 100vh;
    overflow: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.logobox{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logobox img{
    width: 6rem;
    height: 6rem;
    color: white;
    fill: white;
    padding: .7rem;
}

.sec2{
    background-color: #070808;
    width: 75%;
    height: 100vh;

}


.logobox h1{
    font-size: 2.5rem;
    padding: .7rem;
    color: #070808;
    text-align: center;
}

.toggicondiv{
    font-size: 3.5rem;
    color: #fff;
    display: none;
}

.hidden{
    /* opacity: 0; */
    display: none;
    transform: translateY(-5rem);
    /* transition: display 0.5s ease; */
    /* display: none; */
}

.formdiv{
    padding: .5rem;
    transition: all 0.5s ease;
}

.input,.deletebtnall,.delete{
    padding: .6rem;
    margin: .3rem auto;
    width: 100%;
    transition: all 0.5s ease;
}

.inputsub{
    padding: .6rem;
    font-size: 1.6rem;
    outline: transparent;
    border: none;
    margin: auto;
    width: 95%;
    color: #fff;
    background-color: #2C3539;
    cursor: pointer;
    border: 1px solid #fff;

}

.input-hidden{
    display: none;
}

.inputsub:hover,.delall:hover,.del:hover{
    transition: all 0.5s ease;
    background-color: transparent;
}

.inputdate,.inputtime,.inputcost,.inputeventname{
    background-color: transparent;
    border-bottom: 1px solid black !important;
    padding: .6rem;
    font-size: 1.6rem;
    outline: transparent;
    border: none;
    margin: auto;
    width: 95%;
    color: #fff;
    text-transform: capitalize;
}

.dropdown{
    padding: .6rem;
    width: 95%;
    background-color: #070808;
    color: #fff;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: transparent;
    transition: all 0.5s ease;
}

.delall{
    padding: .6rem;
    font-size: 1.6rem;
    outline: transparent;
    border: none;
    margin: auto;
    width: 95%;
    color: #fff;
    background-color: crimson;
    cursor: pointer;
    border: 1px solid #fff;
}

.del{
    padding: .4rem;
    font-size: 1.6rem;
    outline: transparent;
    border: none;
    margin: auto;
    width: 40%;
    color: #fff;
    background-color: crimson;
    cursor: pointer;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultdiv{
    width: 100%;
    padding: 1rem;
    border-left: 5px solid #00ff00;
    /* overflow: auto; */
    /* opacity: 0; */
    transition: all 0.5s ease;
    background-color: #070808;
    margin: .7rem auto;
}

.resultdiv h1{
    padding: .5rem;
    text-align: center;
    margin: auto;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.iddiv{
    padding: .2rem;
}

.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-wrapper div{
    padding: .2rem;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    color: #fff;
}

.person1-popup{
    border-left:4px solid blue;
    font-size: 1.5rem;
    box-sizing: content-box;
    padding: .5rem;
    background-color: #070808;

}

.person2-popup{
    border-left:4px solid crimson;
    font-size: 1.5rem;
    box-sizing: content-box;
    padding: .5rem;
    background-color: #070808;

}

.person3-popup{
    border-left:4px solid yellow;
    font-size: 1.5rem;
    box-sizing: content-box;
    padding: .5rem;
    background-color: #070808;

}

.person4-popup{
    border-left:4px solid pink;
    font-size: 1.5rem;
    box-sizing: content-box;
    padding: .5rem;
    background-color: #070808;

}

.person5-popup{
    border-left:4px solid cyan;
    font-size: 1.5rem;
    box-sizing: content-box;
    padding: .5rem;
    background-color: #070808;

}

.leaflet-popup .leaflet-popup-content-wrapper{
    background-color: #070808;
    color: #fff;
    border-radius: 6px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content{
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip{
    background-color: #070808;
}



@media only screen and (max-width:860px){
    .main{
        display: block;
        padding: .5rem;
        min-height: 100vh;
    }

    .sec1{
        width: 100%;
        height: 15vh;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    .toggleclass{
        transition: all 0.5s ease;
        height: 100vh;
        overflow: auto;
    }

    .sec2{
        width: 100%;
    }

    .logobox{
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toggicondiv{
        display: block;
    }
}




